@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Amiri', "Noto Serif JP";
    color: var(--color-secondary);
}
body {
    background-color: var(--color-primary);
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    padding-top: 79px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: underline;
  color: var(--color-secondary);
  &:hover{
    // text-decoration: none;
    color: var(--color-secondary);
  }
  &.btn, &.nav-link {
    text-decoration: none;
  }
}

.work-box {
  a {
    text-decoration: none;
  }
}

.hover-secondary:hover{
  text-decoration: underline;
  color: var(--color-primary);
}

hr {
  margin-top: 0px;
  margin-bottom: 5px;
  border-color: var(--color-secondary);
  border-width: 3px;
}
@media screen and (max-width:480px){
  hr {
    margin-bottom: 0px;
    border-width: 2px;
  }
  .btn {
    width: auto;
  }
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
    h3 {
      margin-bottom: 0px;
    }
}

.section-title {
    margin-bottom: 25px;
}

.section-title-sub {
    background-color: var(--color-primary);
    margin-top: -73px;
    margin-bottom: 30px;
    width: 10rem;
}

.section-sub {
    padding: 60px;
    padding-bottom: 40px;
    margin: 60px 0px;
    border: solid 1px var(--color-secondary);
}

/* SWITCHER */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* background templates */
.back-white {
    color: var(--color-secondary);
    background-color: var(--color-base);
}

.back-yellow {
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

.back-brown {
    color: var(--color-base);
    background-color: var(--color-secondary);
}

.back-red {
    background-color: var(--color-accent);
}

/* BUTTONS */
.btn {
    margin-top: 10px;
    border: none;
    &:hover {
      color: #563F2F;
      background-color: var(--color-primary-darker);
      border: none;
  }
}

.btn-more {
    padding: 20px;
    margin: auto;
}

.btn-mylinks {
    padding: 10px;
    max-width: 80px;
}

.drop-shadow{
  filter: drop-shadow(1px 1px 5px #00000030);
}
.inactive{
  display: none;
}

/* PAGES??? */
.links-block{
  padding-right: 30px;
  padding-left: 30px;
}

#kotlin-icon {
  width: 56px;
}

.overview-list li{
  margin: 0.6em 0px;
}

td{
  vertical-align: top;
  padding: 5px;
  &.tbl-year {
    width: 100px;
    text-align: end;
  }
}

@media screen and (max-width:480px){
  .section-sub{
    padding: 60px 20px;
    padding-bottom: 0;
    margin-top: 30px;
  }
  .section-title-sub{
    margin-bottom: 0px;
  }
  .work-more-content{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}


/* NOT USED but incase, for progressbar */
progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: 20px;
}

progress[value]::-webkit-progress-bar {
    background-color: #FFFFFB50;
    border-radius: 20px;
}

::-webkit-progress-value {
    background-color: #563F2F;
    border-radius: 20px;
}

/* NOT USED for forms */
form {
    max-width: 540px;
}

.form-control {
    border: 1px solid #563F2F;
    height: initial;
}

.form-group {
    margin: 20px auto;
}

.form-border {
    padding: 30px 20px;
    border: solid 1px #563F2F;
}